img {
    width: 250px;
    padding: 20px;
}

hr {
    color: blue;
    width: 20%;
}

.i__facts {
    font-size: 35px;
    margin-left: 10px;
}

.p__full {
    padding-top: 20px;
} 

.head__facts {
    color: blue;
}

